process.executor = 'slurm'
process.errorStrategy = 'finish'


process {

     withName: fastqc {
     module = 'fastqc/0.11.8-java-1.8'
     cpus = {  4 * task.attempt }
     memory = { 6.GB * task.attempt }
     time = {  1.h * task.attempt }
      }

withName: trim {
      module = 'trim_galore/0.6.2-foss-2018b-python-3.6.6'
     cpus = {  16 * task.attempt }
      memory = { 32.GB * task.attempt }
     time = {  4.h * task.attempt }
      }
      withName: align {
      module = 'bismark/0.22.2-foss-2018b'
      cpus = {  20 * task.attempt }
      memory = { 64.GB * task.attempt}
      time = {  5.h * task.attempt }
      }

  withName: dedup {
      module = 'bismark/0.22.2-foss-2018b'
      cpus = {  16 * task.attempt }
      memory = { 16.GB * task.attempt}
      time = {  4.h * task.attempt }
      }
  withName: samsort {
      module= 'samtools/1.9-foss-2018b'
      cpus = {  8 * task.attempt }
      memory = { 16.GB * task.attempt }
      time = {  6.h * task.attempt }
       }

  withName: call_allC {
      module = 'samtools/1.9-foss-2018b:methylpy/1.2.9-foss-2018b-python-2.7.15'
      cpus = {  16 * task.attempt }
      memory = { 8.GB * task.attempt }
      time = {  2.h * task.attempt }
        }

}
